<div class="header">
  <h3>This is header</h3>
  <div class="nav-bar">
    <a routerLink="Home">Home</a>
    <a routerLink="Converter">Converter</a>
    <a routerLink="Contact">Contact</a>
    <a routerLink="template-form">Template form</a>
    <a routerLink="reactive-form">Reactive form</a>
    <a routerLink="Login">Login</a>
    <a routerLink="Movie">Movie</a>
    <a routerLink="Login">Logout</a><br><br>
  </div>
  <button (click)="redirectTo()">Redirect</button>
</div>

<router-outlet></router-outlet>
<div class="footer">
  <p>&copy; <em>Shrilakshmi Shenoy</em>. All rights reserved.</p>
  <p>Contact: info@example.com | Phone: +1 (123) 456-7890</p>
</div>